/*通用样式*/
* {margin: 0; padding: 0;}
a {text-decoration: none;}
img {border:none; outline: none;}
li {list-style: none;}
s,i,em {font-style:normal;text-decoration:none;}
.w {
	width: 1190px;
	margin: 0 auto;
}
/*头部样式*/
.header {
	height: 35px;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
	font-size: 12px;
}
.header_top {
	height: 35px;
	line-height: 35px;
}
.header_top_l {
	width: 190px;
	float: left;
	height: 35px;
}
.header_top_l a {
	color: #6c6c6c;
}

a.active {
	color: #f22d00;
}
a.active1 {
	float: right;
}
.header_top_l a:hover {
	color: #f22d00;
}
.nav {
	width: 630px;
	float: right;
	height: 35px;
	position: relative;
}
.nav li {
	float: left;
	width: 80px;
	padding: 0 5px 0 5px;
}
.addr {
	float: right;
	margin-top: 10px ;
	margin-right: 10px;
}
.addr i {
	display: block;
	/* <!--border:1px solid #f00;--> */
	height: 5px;
	margin-top: 7px;
	width: 13px;
	overflow: hidden;
	position: relative;
	font-family: "宋体";
	font-size: 14px;
}	
.addr i s {
	position: absolute;
	height: 10px;
	width: 10px;
	left: 0;
	top: -20px;
}
.nav li a {
	color: #6C6C6C;
}
.nav li:hover {
	background: #fff;
}
.nav li:hover .subnav {
	display: block;
}
.nav li:hover .guild {
	display: block;
}
.nav li a:hover {
	color: #f22d00;
}
.subnav {
	display: none;
	margin-top: 10px;
}
.subnav li {
	height: 30px;
	width: 80px;
	line-height: 30px;
	margin-left: -5px;
}
.subnav li:hover {
	background: #e5e5e5;
}
.subnav li:hover a {
	color: #6C6C6C;
}
.guild {
	height: 370px;
	background: red;
	position: absolute;
	left: -560px;
	top: 36px;
	display: none;
}
/*logo样式*/
.logo {
	height: 134px;
	background: fuchsia;
	padding-top: 30px;
}
.kkk {
	width: 500px;
	height: 134px;
	background: black;
	margin: 0 auto;
}
/*页面主体样式*/
.main {
	width: 100%;
	background-color: #f1f1f1;
	padding-top: 10px;
}
.main_top {
	height: 3316px;
	background-color: red;
}
.main_top_left {
	width: 890px;
	height: 3316px;
	background-color: brown;
	float: left;
	margin-right: 10px;
}
.main_top_left_top {
	height: 597px;
	background: blue;
}
.shopping {
	height: 868px;
	background: palevioletred;
}
.main_top_right {
	width: 290px;
	height: 3316px;
	background-color: lightblue;
	float: left;
}
.main_m {
	height: 6328px;
	background-color: #fff;
	margin-top: 10px;
}
.main_m_top {
	height: 635px;
}
.title{
	margin: 0 auto;
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 12px 0;
	color: #3c3c3c;
}
.title .icon{
	width: 20px;
	height: 20px;
	float: left;
	background: url(../img/TB1ydzVMXXXXXXtXpXXwu0bFXXX.png);
}
.main_m_top>a {
	color: #6c6c6c;
	padding: 0 5px;
	font-size: 12px;
}
.main_m_top>span {
	font-size: 12px;
	color: #6c6c6c;
}
.main_m_top>a:hover {
	color: #f40;
}
.main_m_top>a.A1 {
	margin-left: 20px;
}
.icon1 {
	float: right;
	width: 26px;
	height: 16px;
	margin-top: 5px;
	background: url(../img/TB1HKSBLpXXXXX9aFXXXXXXXXXX-26-16.png);
}
.single {
	height: 552px;
	border: 1px solid #e9e9e9;
	margin-top: 10px;
}
.single_No1 {
	float: left;
	width: 223px;
	height: 393px;
	border: 1px solid #e8e8e8;
	margin: -1px;
	padding: 0 5px;
}
.single_No1_c {
	width: 213px;
	height: 383px;
	padding: 5px;
}
.single_No1:hover {
	border: 1px solid #f40;
}
.single_No2 {
	width: 153px;
	height: 393px;
	padding: 0 5px;
	border: 1px solid #e8e8e8;
	margin: -1px;
	float: left;
	padding: 0 5px;
	background: #A52A2A;
}
.single_No3 {
	width: 396px;
	height: 158px;
	border: 1px solid #e8e8e8;
	margin: -1px;
	float: left;
}
.direct {
	height: 520px;
	background: gold;
	margin-top: 20px;
}
.direct_top {
	height: 440px;
	background: red;
	padding: 20px 0;
}
.buy-list {
	margin-top: 20px;
	height: 710px;
	background: lightblue;
}
.youlike {
	margin-top: 20px;
	height: 4404px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.youlike_bottom {
	height: 4338px;
	width: 1152px;
	margin: 0 auto;
	
}
.youlike_oBox {
	width: 222px;
	height: 302px;
	border: 1px solid #fff;
	float: left;
	margin: 0 8px 28px 0;
	position: relative;
	background: #f5f5f5;
}
.youlike_oBox_content {
	width: 222px;
	height: 82px;
	background: #F40;
	display: none;
	position: absolute;
	top: 220px;
	left: 0px;
}
.youlike_oBox>p {
	font-size: 12px;
	line-height: 1.5em;
	margin-left: 10px;
	color: #6c6c6c;
}
.youlike_oBox_bottom {
	margin-top: 15px;
}
.price {
	float: left;
	font-size: 14px;
	color: #f40;
	margin-left: 10px;
}
.Num {
	float: right;
	font-size: 12px;
	color: #6c6c6c;
	margin-right: 10px;
}
.hot {
	float: left;
	background: #f40;
	color: #fff;
	font-size: 12px;
	margin-left: 10px;
}
.youlike_oBox2 {
	margin-right: 0px;
}
.youlike_oBox:hover {
	 border: 1px solid #f40;
}
.youlike_oBox:hover .youlike_oBox_content{
	display: block;
}
.youlike_oBox>a:hover img{
	opacity: 0.8;
}
.main_b {
	height: 200px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background-color: red;
}
/*底部样式*/
.footer {
	height: 247px;
	font-size: 12px;
}
.footer_top {
	height: 61px;
	padding-top: 10px;
	border-bottom: 1px solid #ddd;
}
.footer_top a {
	color: #9c9c9c;
	line-height: 2em;
	margin: 0 5px;
}
.footer_top>span{
	color: #6C6C6C;
}
.footer_top>a:hover{
	color: #f40;
}
.footer_main {
	height: 81px;
	margin-top: 8px;
}
.footer_main>a {
	color: #9c9c9c;
	line-height: 2em;
	margin-right: 4px;
}
.footer_main>a .badge {
	width: 20px;
	height: 20px;
	background: url(../img/picture.jpg) -861px 0;
	float: left;
}
.footer_main>span {
	color: #9c9c9c;
}
span.copyright {
	margin-left: 30px;
}
.footer_main>a:hover {
	color: #f40;
}
.footer_bottom {
	height: 80px;
}
.footer_bottom_picture {
	display: inline-block;
	height: 40px;
	background: url(../img/picture.jpg) no-repeat;
	margin-right: 15px;
}
.footer_bottom_picture1 {
	background: url(../img/T1FeW3XXNfXXXXXXXX-36-36.gif) no-repeat;
	width: 36px;
}
.footer_bottom_picture2 {
	width: 30px;
	background-position: 0px 0;
}
.footer_bottom_picture3 {
	width: 33px;
	background-position: -40px 0;
}
.footer_bottom_picture4 {
	width: 50px;
	background-position: -80px 0;
}
.footer_bottom_picture5 {
	width: 83px;
	background-position: -140px 0;
}
.footer_bottom_picture6 {
	width: 94px;
	background-position: -240px 0;
}
.footer_bottom_picture7 {
	width: 214px;
	background-position: -431px 0;
}
.footer_bottom_picture8 {
	width: 105px;
	background-position: -650px 0;
}
.footer_bottom_picture9 {
	width: 82px;
	background-position: -345px 0;
}
.footer_bottom_picture10 {
	width: 97px;
	background-position: -761px 0;
}
.footer_bottom_picture11 {
	width: 249px;
	background-position: -884px 0;
}